[Desktop Entry]
Type=Application
Name=Telegram
Comment=Telegram chat
Icon=~.bin/eclipse/icon.xpm
Exec=bash -c 'docker run --rm -d --cpuset-cpus 1 -e DISPLAY -v /etc/localtime:/etc/localtime:ro -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME/.TelegramDesktop:/root/.local/share/TelegramDesktop/ -v $HOME/Downloads:/root/Downloads -v $HOME/Pictures:/root/Pictures strm/telegram'
Terminal=false
Categories=Chat
StartupWMClass=Telegram
