[colors]
background = #2f343f
background-alt = #4f545f
foreground = #d8dee8
foreground-alt = #787e68
accent = #81a1c1
alert = #ebcb8b

[bar/top]
height = 32
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
padding-left = 2
padding-right = 2
padding-top = 2
padding-bottom = 2
margin-top = 8
margin-bittom = 30
module-margin-left = 1
module-margin-right = 1
width = 70%
offset-x = 15%
offset-y = 10
;font-0 =  Hack:Regular:size=8;2;2
font-0 = Tamsyn:size=13;2
font-1 = FontAwesome:size=8;2
;tray-position = right
;tray-padding = 2
;tray-background = ${colors.background}
wm-restack = bspwm

modules-left = mpd
modules-center = bspwm
modules-right = temperature-cpu date

;radius = 5.0
radius = 0.0

[module/bspwm]

type = internal/bspwm
label-focused = 
label-focused-background= ${colors.background}
label-focused-padding = 1
label-occupied = %name%
label-occupied-padding = 1
label-occupied-foreground= ${colors.foreground}
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1
label-empty = %name%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 1


[module/xwindow]

type = internal/xwindow
label = %title:0:100:...%


[module/mpd]

type = internal/mpd
format-online = <label-song> - <label-time>
;format-online = <label-song> <label-time>  <icon-prev> <icon-stop> <toggle> <icon-next> <icon-repeat> <icon-random>
format-online-overline = ${root.background}
format-online-underline = ${root.background}
format-offline = <label-offline>
label-offline = <MPD Offline>

icon-play = 
icon-pause = 
icon-stop = 
icon-prev = 
icon-next = 
icon-random = 
icon-repeat = 

toggle-on-foreground =
toggle-off-foreground = #55

label-time = %elapsed% / %total%

bar-progress-width = 22
bar-progress-format = %{+o +u}%fill%%{-o -u}%indicator%%{+o +u}%empty%%{-u -o}
bar-progress-indicator = -
bar-progress-indicator-foreground = #ff
bar-progress-indicator-font = 3
bar-progress-fill = -
bar-progress-fill-foreground = #bb
bar-progress-fill-font = 3
bar-progress-empty = 
bar-progress-empty-font = 3
bar-progress-empty-foreground = #44

[module/date]

type = internal/date
interval = 30
label = " %date% %time%"
date-alt = %a %d
time = %H:%M
format-prefix-foreground = ${colors.accent}

[module/temperature-cpu]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
format-underline = ${colors.foreground}
format-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
